<!DOCTYPE html>
<html lang="en">
<head>
  <title>Editing Profile!</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
    <style>
        body{
            background-color: #579DC5;
        }

        .container{
            position: absolute;
            display: flex;
            margin-left: 33%;
            justify-content: center;
            background-color: white;
            border-radius: 10px;
            height: 90%;
            width: 60%;
            right: 20%;
            text-align: center;
            top: 50px;
            border-radius: 15px;
        }

        #newPassword{
          position: absolute;
          display: flex;
          top: 40%;
          left: 43%
        }

        #submit{
          position: absolute;
          display: flex;
          top: 50%;
          left: 45%;
        }
    </style>
</head>
<body>
  <div class="container">
    <h1>What Do You Want Your New Password To Be?</h1>
    <input type="password" placeholder="New Password" id="newPassword">
  </div>
  <a href="/profile"><button type="button" id="submit" class="btn btn-primary">Submit</button></a>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>
